* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background: #000;
  color: #fff;
}

nextjs-portal {
  display: none !important;
}
