.button {
  --elastic-ease-out: linear(
    0,
    0.5737 7.6%,
    0.8382 11.87%,
    0.9463 14.19%,
    1.0292 16.54%,
    1.0886 18.97%,
    1.1258 21.53%,
    1.137 22.97%,
    1.1424 24.48%,
    1.1423 26.1%,
    1.1366 27.86%,
    1.1165 31.01%,
    1.0507 38.62%,
    1.0219 42.57%,
    0.9995 46.99%,
    0.9872 51.63%,
    0.9842 58.77%,
    1.0011 81.26%,
    1
  );
  --smooth-ease: cubic-bezier(0.32, 0.72, 0, 1);
  --color-ease: cubic-bezier(0.215, 0.61, 0.355, 1);

  color: #f9f4eb;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  user-select: none;
  transform-style: preserve-3d;
  font-size: 0.875rem;
  line-height: 1em;
  text-decoration: none;
  display: grid;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: transform 0.45s var(--elastic-ease-out);
  -webkit-tap-highlight-color: transparent;
}

.button:active {
  transform: scaleX(0.955) scaleY(0.954);
}

.bg {
  background-color: #000;
  border-radius: 0.3125rem;
  grid-area: 1 / 1;
  overflow: clip;
  transition: scale 0.45s var(--smooth-ease), background-color 0.2s var(--color-ease);
}

.inner {
  grid-gap: 0.625rem;
  grid-area: 1 / 1;
  padding: 0.875rem 0.625rem 0.875rem 0.75rem;
  display: grid;
  translate: 0;
}

.text {
  grid-area: 1 / 1;
  transition: scale 0.45s var(--smooth-ease);
  transform-origin: top;
}

.inner::before {
  content: attr(data-text);
  pointer-events: none;
  transition: scale 0.45s var(--smooth-ease);
  transform-origin: bottom;
  grid-area: 1 / 1;
  scale: 1 0;
}

.iconWrap {
  grid-row: 1;
  display: grid;
}

.icon {
  grid-gap: 0.0625rem;
  grid-area: 1 / 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
}

.dot {
  background-color: #f9f4eb;
  border-radius: 0.0625rem;
  width: 0.125rem;
  height: 0.125rem;
  display: block;
  transition: scale 0.4s var(--smooth-ease);
  transition-delay: calc(var(--index) * 40ms);
}

.iconArrow .dot {
  transition-delay: 0s;
  scale: 0;
}

.iconArrowTilted45 .dot {
  transition-delay: 0s;
  scale: 0;
}

.iconArrowTilted45 {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
}

.iconArrow .dot:first-child,
.iconArrowTilted45 .dot:first-child {
  grid-area: 3 / 1;
}

.iconArrow .dot:nth-child(2),
.iconArrowTilted45 .dot:nth-child(2) {
  grid-area: 3 / 2;
}

.iconArrow .dot:nth-child(3),
.iconArrowTilted45 .dot:nth-child(3) {
  grid-area: 3 / 3;
}

.iconArrow .dot:nth-child(4),
.iconArrowTilted45 .dot:nth-child(4) {
  grid-area: 3 / 4;
}

.iconArrow .dot:nth-child(5),
.iconArrowTilted45 .dot:nth-child(5) {
  grid-area: 3 / 5;
}

.iconArrow .dot:nth-child(6),
.iconArrowTilted45 .dot:nth-child(6) {
  grid-area: 2 / 4;
}

.iconArrow .dot:nth-child(7),
.iconArrowTilted45 .dot:nth-child(7) {
  grid-area: 1 / 3;
}

.iconArrow .dot:nth-child(8),
.iconArrowTilted45 .dot:nth-child(8) {
  grid-area: 4 / 4;
}

.iconArrow .dot:nth-child(9),
.iconArrowTilted45 .dot:nth-child(9) {
  grid-area: 5 / 3;
}

@media (hover: hover) and (pointer: fine) {
  .button:is(:hover, :focus-visible) .text {
    scale: 1 0;
  }

  .button:is(:hover, :focus-visible) .inner::before {
    scale: 1;
  }

  .button:is(:hover, :focus-visible) .dot {
    transition-delay: calc((var(--index) * 40ms) + (var(--index-parent) * 70ms));
    scale: 0;
  }

  .button:is(:hover, :focus-visible) .iconArrow .dot,
  .button:is(:hover, :focus-visible) .iconArrowTilted45 .dot {
    scale: 1;
  }
}

@media (hover: none), (pointer: coarse) {
  .button:active .bg {
    background-color: #4d4d4d;
    transition-duration: 0s;
  }

  .dot {
    scale: 0;
  }

  .iconArrow .dot,
  .iconArrowTilted45 .dot {
    scale: 1;
  }
}
