.button {
  --characters: 10;
  color: #f9f4eb;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  user-select: none;
  font-size: 0.875rem;
  line-height: 1em;
  text-decoration: none;
  display: grid;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

:global(.dark) .button {
  color: #000;
}

.bg {
  grid-area: 1 / 1;
  grid-template-columns: 1fr auto;
  display: grid;
}

.bgMid {
  background-color: #000;
}

:global(.dark) .bgMid {
  background-color: #fff;
}

.bgRight {
  grid-area: 1 / 2;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
}

.bgPixel {
  aspect-ratio: 1;
  background-color: #000;
  width: 100%;
  height: 100%;
  transition: opacity;
  transition-delay: calc(var(--index) * 60ms);
}

:global(.dark) .bgPixel {
  background-color: #fff;
}

.bgPixel:nth-child(13) {
  opacity: 0;
}

.bgRightOverlay {
  grid-area: 1 / 2;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
}

.bgRightOverlay .bgPixel {
  opacity: 0;
  transition-delay: 0s;
}

.inner {
  grid-area: 1 / 1;
  padding: 0.875rem 3.75rem 0.875rem 1rem;
  display: grid;
  overflow: clip;
}

.text {
  grid-area: 1 / 1;
}

.inner::after {
  content: attr(data-text);
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  grid-area: 1 / 1;
  width: 0;
  transition: width;
  overflow: clip;
}

.bgRightOverlay .bgPixel:first-child {
  grid-area: 1 / 2;
}

.bgRightOverlay .bgPixel:nth-child(2) {
  grid-area: 1 / 3;
}

.bgRightOverlay .bgPixel:nth-child(3) {
  grid-area: 1 / 4;
}

.bgRightOverlay .bgPixel:nth-child(4) {
  grid-area: 1 / 5;
}

.bgRightOverlay .bgPixel:nth-child(5) {
  grid-area: 2 / 4;
}

.bgRightOverlay .bgPixel:nth-child(6) {
  grid-area: 2 / 5;
}

.bgRightOverlay .bgPixel:nth-child(7) {
  grid-area: 3 / 3;
}

.bgRightOverlay .bgPixel:nth-child(8) {
  grid-area: 3 / 5;
}

.bgRightOverlay .bgPixel:nth-child(9) {
  grid-area: 4 / 2;
}

.bgRightOverlay .bgPixel:nth-child(10) {
  grid-area: 4 / 5;
}

.bgRightOverlay .bgPixel:nth-child(11) {
  grid-area: 5 / 1;
}

@media (hover: hover) and (pointer: fine) {
  .button:is(:hover, :focus-visible) .inner::after {
    opacity: 1;
    width: 100%;
    transition: width 0.5s steps(var(--characters));
  }

  .button:is(:hover, :focus-visible) .text,
  .button:is(:hover, :focus-visible) .bgRight .bgPixel {
    opacity: 0;
  }

  .button:is(:hover, :focus-visible) .bgRightOverlay .bgPixel {
    opacity: 1;
    transition-delay: calc(var(--index) * 60ms);
  }
}

@media (hover: none), (pointer: coarse) {
  .button:active .bgRight .bgPixel {
    opacity: 0;
    transition: opacity;
  }

  .button:active .bgRightOverlay .bgPixel {
    opacity: 1;
    transition: opacity;
  }
}
